body{
    background-color: #f5f7fb;
    font-family: cursive;

}

.container1{
background-image: url(./AdobeStock_-1-64.jpg);
background-repeat: no-repeat;
    padding: 0px;
    height: 30vh;
} 
.a{
    object-position: center;
    object-fit: contain;

}
.o{
    padding-left: 30px;
    padding-top: 80px;
    font-size: 60px;
    font-weight: bold;
color: #ffff;
}
.a2{
background-image: url(/assets/img/Texto\ do\ seu\ parágrafo.jpg);
background-size: 1600px;
background-repeat: no-repeat;
padding-top: 0;

}
.t1{
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.c{
    color: #fff;
    font-size: large;
    font-family: fantasy;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    display: block;
    margin: 0 auto;
    border: #fff;
    width: 60%;
    height: 40px;
        border-radius: 8px;
    background-color: #ffffff;
   }
   

   
.a2{
    width: 1510px;
    height: 300px;

}
.n1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
   .g4{
    margin: auto;
    text-align: center;
   }
   .g3{
    margin: auto;
    color: #9e9ea7;
    text-align: center;

   }
   .teimoso{
    background-color: #b3e8f0;
    border: 20px;
    color: #ffffff;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
   }
   .m1, .m2, .m3{
    border-radius: 12px;
    padding: 1 0px;
    width: 280px;
    padding-left: 100px;
    text-align: center;
   }


   .o1{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: #fff;
   }

.p1{
    background-color: #49a8b7;
    border: 20px;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.r{
   text-align: center;
   margin-bottom: 10px;
}
    .q{
        width: 300px;
    }
.l{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
    flex-wrap: wrap;}